@media screen and (max-width: 1920px){
    .container{
        max-width: 1200px;
    }
}
@media screen and (max-width: 1400px){
    // product
    .product{
        .buy-btn{
            font-size:16px ;
        }
        .single-purchase-btn{
            font-size:16px ;
        }
    }
}
@media screen and (max-width: 1360px){
    // footer
    .footer-top{
            .footer-top-title{
                font-size:30px;
            }
            .phone,
            .email{
                .icon__phone{
                    width: 30px;
                    height: 30px;
                    font-size: 18px;
                }
                h5{
                    font-size: 30px;
                    span{
                        font-size: 20px;
                    }
                }
            }
            .email{
                .icon__phone{
                    font-size:20px;
                }
                h5{
                    font-size: 20px;
                }
            }
    }
}
@media screen and (max-width: 1200px){
    .container{
        max-width: 1140px;
    }
}
@media screen and (max-width: 991px){
    .container{
        max-width: 960px;
    }
    // navbar
    .navbar{
        display: none;
    }
    // navbar nobile
    .navbar-mobile{
        display: block;
    }
    
    // global
    .title-section{
        .title-section_inner{
            flex-direction: column; 
            justify-content: flex-start;
            align-items: flex-start!important;
        }
        form{
            justify-content: flex-start!important;
            margin-top: 10px;
        }  
    }
    .image-gallery{
        #photos {
        column-count: 2;
        }
    }

    .input-group{
        .number-input{
            font-size: 18px;
            padding: 0 20px;
            &::placeholder{
                font-size: 18px;
            }
        }
        span{
            font-size: 22px;
        }
    }
    // sites-box
    .sites-box{
        .sites-wrapper{
            .sites-img{
                height: 30px;
                img{
                    height: 65%;
                }
            }
        }
        .search-title{
            font-size: 20px;
        }
        .search-group{
            input{
                font-size: 16px;
                height: 55px;
                padding: 10px;
            }
            .search-btn{
                font-size: 16px;
                padding: 10px 20px;
                height: 55px;
                span{
                    font-size: 30px;
                }
            }
        }
        .search-desc{
            font-size: 16px;
        }
    }
    // order-procedure
    .order-procedure{
        &_title{
            font-size: 32px;
        }
        p{
            font-size: 16px;
        }
    }
    // banners
    .banners{
        .banners-box_title{
            font-size: 26px;
        }
    }
    // footer
    .footer{
        &-menu{
            padding-right: 10px;
        }
    }
    .footer-top{
        padding: 10px 0 15px 0;
        .social{
            margin-top: 15px;
        }
    }
    // 404
    .con-404{
        &_wrapper{
            h1{
                font-size: 200px;
            }
            p{
                font-size: 50px;
                margin-top: -30px;
            }
            span{
                font-size:20px;
            }
        }
        .img-404{
            img{
                width:70%;
            }
        }
    }
    // login
    .login{
        &-box{
            .login-title{
                font-size: 30px;
            }
            .login-subtitle{
                font-size: 18px;
            }
            .login-btn{
                font-size: 20px;
            }
            .acceptance-rules{
                font-size: 16px;
            }
            .forget-password{
                font-size: 13px;
            }
            .login-time{
                font-size: 16px;
            }
            .successful-text{
                font-size: 20px;
            }
        }
    }
    // buy-package
    .buy-package{
        &_item{
            .buy-btn{
                font-size:20px ;
                padding: 10px 20px;
            }
            p{
                font-size: 18px;
                padding: 10px 20px;
            }
        }
    }
    // explanations
    .explanations{
        &_text{
            font-size: 16px;
        }
        .table {
            td,
            th {
                font-size: 16px;
            }
            td{
                img{
                    width: 100px;
                }
            }
        }
    }
    // product
    .product{
    .buy-btn{
        font-size:20px ;
    }
    .single-purchase-btn{
        font-size:20px ;
    }
       .download-box{
           .down-btn{
               font-size: 20px;
           }
       }
        .tabs{
            li{
                a{
                    font-size: 18px;
                }
            }
        }
    }
    // panel
    .panel{
        .table {
            thead {
                display: none;
            }
            tbody,
            tr,
            td {
                display: block;
                width: 100%;
            }
            tr {
                margin-bottom: 15px;
            }
            td {
                text-align: left;
                    padding:  10px;
                text-align: left;
                position: relative;
            }
            td::before {
                content: attr(data-label);
                position: absolute;
                right: 0;
                padding-right: 15px;
                font-size: 15px;
                text-align: right;
            }
        }
        .active-package{
            font-size: 20px;
        }
        &-menu{
            overflow-x: scroll;
            justify-content: flex-start!important;
            padding: 20px 0;
            .panel-menu_link{
                font-size: 18px;
                white-space: nowrap;
                &.active{
                    span{
                        font-size: 15px;
                    }
                }
            }
        }
        .last-download{
            .re-download-btn {
                margin-top: 10px;
            }
            .list-down{
                width: 75%;
            }
        }
        .form-panel{
            width: 100%;
        }
        .title-section-btn{
            font-size: 14px;
        }
    }
}
@media screen and (max-width: 767px){
    .container{
        max-width: 720px;
    }
    // global
    .title-section{
        .title__section{
            font-size: 18px;
        }    
        .icon__search{
            font-size: 35px;
        }
    }

    .input-group{
        .number-input{
            font-size: 16px;
            padding: 0 10;
            &::placeholder{
                font-size: 16px;
            }
        }
        span{
            font-size: 20px;
        }
    }
    .select{
        font-size: 16px;
    }
    // sites-box
    .sites-box{
        .search-title{
            font-size: 16px;
        }
        .search-group{
            input{
                font-size: 16px;
                height: 50px;
                &::placeholder{
                    font-size: 10px;
                }
            }
            .search-btn{
                font-size: 16px;
                padding: 10px 20px;
                height: 50px;
                span{
                    font-size: 30px;
                }
            }
        }
    }
    // order-procedure
    .order-procedure{
        &_img{
            height: 200px;
        }
    }
    // banners
    .banners{
        .banners-box_title{
            font-size: 24px;
        }
    }
    // attributes
    .attributes{
        &-card{
            p{
                font-size: 16px;
            }
            span{
                font-size: 30px;
            }
            .icon__arrow{
                font-size: 30px;
            }
            h4{
                font-size: 30px;
            }
        }
    }
    // footer
    .footer-top{
            .phone,
            .email{
                .icon__phone{
                    width: 28px;
                    height: 28px;
                    font-size: 15px;
                }
                h5{
                    font-size:25px;
                    span{
                        font-size: 20px;
                    }
                }
            }
            .email{
                h5{
                    letter-spacing: 0;
                }
            }
        .social{
            margin-top: 10px;
        }
    }
    // 404
    .con-404{
        &_wrapper{
            h1{
                font-size: 100px;
            }
            p{
                font-size: 40px;
                margin-top: -30px;
            }
            span{
                font-size:16px;
            }
        }
        .img-404{
            img{
                width:90%;
            }
        }
    }
    // buy-package
    .buy-package{
        &_item{
            width: 100%;
            .buy-btn{
                font-size:16px ;
            }
            p{
                font-size: 17px;
            }
        }
    }
    // explanations
    .explanations{
        &_text{
            font-size: 16px;
        }
        .table {
            border-spacing: unset;
            thead {
                display: none;
            }
             tbody,
            tr,
            td {
                display: block;
                width: 100%;
                border-radius: 0;
            }
            tr {
                margin-bottom: 15px;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                flex-direction: column;
            }
            td {
                text-align: left;
                padding:10px;
                text-align: center;
                position: relative;
                width: 50%;
                margin-bottom: 3px;
                border-radius: 7px;
                
            }
            td::before {
                content: attr(data-label);
                position: absolute;
                right:-100%;
                top: 0;
                font-size: 15px;
                text-align: center;
                width: 99%;
                height: 100%;
                background: #f7f7f7;
                padding:10px;
                border-radius: 7px;
            }
        }
    }
    // product
    .product{
        .buy-btn{
            font-size:16px ;
        }
        .single-purchase-btn{
            font-size:16px ;
        }
       .download-box{
           .down-btn{
               font-size: 16px;
           }
       }
        .tabs{
            li{
                a{
                    font-size: 16px;
                }
            }
        }
        .tabContent{
            p{
                font-size: 16px;
            }
        }
    }
    // contact
    .contact{
        &_wrapper{
            p{
                font-size: 16px;
                font-family: 'yekanBakh-Regular';
            }
        }
    }
    // panel
    .panel{
        .active-package{
            font-size: 16px;
        }
        &-menu{
            .panel-menu_link{
                font-size: 16px;
                &.active{
                    span{
                        font-size: 14px;
                    }
                }
            }
        }
        .data-edit-btn,
        .ticket-submit-btn  {
            font-size: 16px;
        }
        .ticket-list{
            font-size: 19px;
        }
    }
}
@media screen and (max-width: 576px){
    .nav-btn{
        padding: 0 10px;
        font-size: 14px;

        &::after{
            display: none;
        }
    }
    .megamenu .sub-menu.sub-menu_profile {
        left: 20px;
        width: 130px;
        li {
            padding:  10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        a {
            font-size: 14px;
        }
    }
}
@media screen and (max-width: 480px){
    // global
    .title-section{
        .title__section{
            font-size: 16px;
        }    
        .more-view-btn{
            font-size: 14px;
        }
        .icon__search{
            font-size: 30px;
        }
    }
    .image-gallery{
        #photos {
            column-count: 1;
        }
    }

    .input-group{
        .number-input{
            font-size: 15px;
            padding: 0 5;
        }
        span{
            font-size: 16px;
        }
    }
    .select{
        font-size: 15px;
    }

    .nav-btn{
        padding: 3px 10px 0;
        font-size: 11px;
    }
    // nav mob
    .navbar-mobile{
        .head {
            font-size: 20px;
        
            .logo-mobile{
                width: auto;
                img{
                    width: 75px;
                }
            }
            .openMenu {
                font-size: 30px;
                width: 30px;
                height: 30px;
                margin-left: 10px;
            }
        }
    }
    .sidebar-head{
        height:50px;
        margin-bottom:30px;
        img{
            width: 108px;
        }
    }
    #accordian ul li a{
        font-size: 15px;
    }

    // header
    .header{
        .carousel-indicators {
            margin-bottom: 0;
        }
    }
    // sites-box
    .sites-box{
        &_inner{
            margin-top: 30px;
        }
        .sites-wrapper{
            padding: .5rem .5rem 0 !important;
            .sites-img{
                height: 25px;
                margin: 0 0 5px 5px;
                img{
                    height: 50%;
                }
            }
        }
        .search-title{
            font-size: 14px;
        }
        .search-group{
            .search_items{
                flex-direction: column;
            }
            input{
                font-size: 16px;
                height: 45px;
                &::placeholder{
                    font-size: 10px;
                }
            }
            .search-btn{
                height: 45px;
                margin-top: 10px;
                margin-right: 0;
                width: 100%;
                span{
                    font-size:26px;
                }
            }
            .tags{
                p,span{
                    font-size: 12px;
                }
            }
        }
        .search-desc{
            font-size: 14px;
        }
    }
    // order-procedure
    .order-procedure{
        &_img{
            height: 150px;
            img{
                width: auto;
                height: 100%;
            }
        }
        &_title{
            font-size:28px;
        }
        p{
            font-size: 16px;
        }
    }
    // special-offers
    .special-offers{
        &-cart{
            .view-btn{
                padding: 3px 10px;
                font-size: 14px;
            }
            &_title{
                font-size: 15px;
                span{
                    font-size:15px;
                }
            }
        }
    }
    // banners
    .banners{
        .banners-box_title{
            font-size: 18px;
            font-family: 'yekanBakh-Bold';
        }
    }
    // attributes
    .attributes{
        &-card{
            p{
                font-size: 10px;
            }
            span{
                font-size: 25px;
            }
            .attributes-card_inner{
                margin: 10px;
            }
            .icon__arrow{
                display: none;
            }
            h4{
                display: none;
            }
        }
    }
    // footer
    .footer-top{
        .footer-top-title{
            font-size:18px;
        }

            .phone,
            .email{
                .icon__phone{
                    width: 23px;
                    height: 23px;
                    font-size: 13px;
                }
                h5{
                    font-size:15px;
                    span{
                        font-size: 16px;
                    }
                }
            }
        .social{
            margin-top: 10px;
            a{
                width: 30px;
                height: 40px;
                font-size:15px;
            }
        }
    }
    // blog
    .blog{
        &-cart{
            &_title{
                font-size: 16px;
                span{
                    font-size: 18px;
                }
            }
            &_text{
                font-size: 14px;
            }
        }
    }
    // common-questions
    .common-questions{
        .accordion{
            .tabs {
                .tab {
                    &-label {
                        font-size: 15px;
                        &::after {
                            font-size: 15px;
                        }
                    }
                    &-content {
                        font-size: 15px;
                    }
                }
            }
        }
    }
    // 404
    .con-404{
        &_wrapper{
            h1{
                font-size: 100px;
            }
            p{
                font-size: 30px;
                margin-top: -20px;
            }
        }
        .img-404{
            img{
                width:50%;
            }
        }
    }
    // login
    .login{
        &-head{
            img{
                width: 108px;
            }
        }
        &-box{
            width: 100%;
            .login-title{
                font-size: 20px;
            }
            .login-subtitle{
                font-size: 16px;
            }
            .login-btn{
                font-size: 16px;
            }
            .acceptance-rules{
                font-size: 14px;
            }
            .successful-text{
                font-size: 20px;
            }
        }
    }
    // buy-package
    .buy-package{
        &_item{
            flex-direction: column;
            .buy-btn{
                font-size:15px ;
                margin: 0;
                width: 100%;
            }
            p{
                font-size: 15px;
                width: 100%;
                margin: 0 0 10px 0;
            }
        }
    }
    // explanations
    .explanations{
        &_text{
            font-size: 15px;
        }
        .table {
            td img {
                width: 80px;
            }
            td::before {
                font-size: 14px;
            }
        }
    }
    // similar-keywords
    .similar-keywords{
        .key-words{
            &_link{
                font-size: 14px;
                padding: 5px 10px 2px;
            }
        }
    }
    // product
    .product{
        .product-specifications{
            flex-direction: column;
            align-items: flex-start!important;
        }
        .image-ID{
            font-size: 14px;
            margin-bottom: 10px;
        }
        .consumer-credit{
            font-size: 14px;
        }
       .description-title{
           font-size: 16px;
       }
       .description-text{
           font-size: 16px;
       }
        .buy-btn{
            font-size:14px ;
            margin-bottom: 10px;
            width: 100%;
        }
        .single-purchase-btn{
            font-size:14px ;
            width: 100%;
        }
       .download-box{
           .down-btn{
               font-size: 14px;
           }
       }
       .product_btns{
           flex-direction: column;
       }
        .tabs{
            li{
                padding: 5px 20px 2px;
                a{
                    font-size: 15px;
                }
            }
        }
        .tabContent{
            p{
                font-size: 16px;
            }
        }
    }
    // contact
    .contact{
        .contact-form{
            input,
            textarea{
                font-size: 16px;
            }
            .contact-form-btn{
                font-size: 15px;
            }
        }
        &_wrapper{
            p{
                font-size: 15px;
            }
        }
    }
        // panel
    .panel{
        .table {
            td{
                font-size: 14px;
            }
            td::before {
                font-size: 14px;
            }
        }
        .active-package{
            font-size: 15px;
        }
        .last-download{
            .re-download-btn {
                font-size: 14px;
                white-space: nowrap;
            }
            .list-down{
                p{
                    font-size: 14px;
                }
            }
        }
        .credit-emptiness{
            h3{
                font-size: 20px;
            }
            .btn-buy{
                font-size: 15px;
                margin-top: 10px;
            }
        }
        .data-edit-btn,
        .ticket-submit-btn  {
            font-size: 14px;
        }
        .ticket-list{
            font-size: 16px;
        }

        .checkbox_wrapper{
            label{
                font-size: 14px;
                margin-right: 20px;
                margin-top: 30px;

                &::after{
                    right: -20px;
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }
}
